<!DOCTYPE html>
<html>
<head>
    <title>V7 DevOps - {{ ansible_hostname }}</title>
</head>
<body>
    <h1>V7 DevOps Assignment</h1>
    <h2>Hostname: {{ ansible_hostname }}</h2>
    <p>Server time: <!--# echo var="DATE_LOCAL" --></p>
    <p>Nginx is working successfully.</p>
</body>
</html>
